Checks: '-*,readability-identifier-naming'
CheckOptions:
  # Function names in snake_case
  - { key: readability-identifier-naming.FunctionCase, value: 'lower_case' }
  - { key: readability-identifier-naming.FunctionStyle, value: 'snake_case' }

  # Variable names in snake_case
  - { key: readability-identifier-naming.VariableCase, value: 'lower_case' }
  - { key: readability-identifier-naming.VariableStyle, value: 'snake_case' }

  # Struct names in CamelCase
  - { key: readability-identifier-naming.ClassCase, value: 'CamelCase' }
  - { key: readability-identifier-naming.ClassStyle, value: 'CamelCase' }

  # Similar for other structures like enums, typedefs, etc.
  - { key: readability-identifier-naming.TypedefStyle, value: 'CamelCase' }
  - { key: readability-identifier-naming.EnumCase, value: 'CamelCase' }
  - { key: readability-identifier-naming.EnumStyle, value: 'CamelCase' }
