BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
